@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf9e9;
  color: rgb(81, 81, 81);
  line-height: 1.5;
}
